<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <div>
            <h1>Blog Python</h1>
        </div>
        <div class="bar">
            <ul class="bar_items">
                <li><a href={{ url_for('home') }}>Home</a></li>
                <li><a href={{ url_for('login') }}>Login</a></li>
                <li><a href={{ url_for('create_post') }}>Crear post</a></li>
                <li><a href={{ url_for('contacto') }}>Contacto</a></li>
            </ul>
        </div>
    </header>
    <main>
        {% block main%}
        {% endblock %}
    </main>
    <footer>
        Realizado por Joaquin
    </footer>
</body>
</html>