{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Home</title>
{% endblock %}

{% block main %}
    <div>
        <h2>Entradas del blog:</h2>
    </div>
    <form action="/">
        <input type="search" id="search" name="search"><br>
        <button type="submit">Buscar</button>
    </form>
    {% if posts %}
        {% for post in posts %}
            <div class="posts">
                <h4>Titulo: {{ post[2] }}</h4>
                <p>Autor del post: {{ post[1] }}</p>
                <a href="/post/{{post[0]}}">Leer mas...</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Por el momento no hay post</p>
    {% endif %}
{% endblock %}
